@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import "reset.css";
@import "variables.css";
/* Components */
@import "components/status-bar.css";
/* Screens */
@import "screens/login.css";

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.header__title{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.header__icons .fa-magnifying-glass{
    margin-right: 15px;
}
.header__icons .fa-music{
    margin-right: 15px;
}
.pop-up{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245,245,245);
    padding: 10px;
}
.pop-up span{
    font-size: 13px;
    font-weight: 500;
    opacity: 80%;
}
.profile-myself{
    display: flex;
    align-items: center;
    padding: 15px 0px;
    margin: 0px 15px;
    border-bottom: solid 1px rgb(230,230,230)
}
.profile-myself img{
    width: 60px;
    height: 60px; 
    border-radius: 40%;
}
.profile-myself span{
    margin-left: 10px;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.profile-channel{
    margin: 10px 15px;
}
.profile-channel>span{
    font-size: 12px;
    opacity: 60%;
}
.profile-channel__2{
    display: flex;
    align-items: center;
    padding: 15px 0px;
}
.profile-channel__2 img{
    width: 50px;
    height: 50px; 
    border-radius: 40%;
    
    object-fit: cover;
}
.profile-channel__2 span{
    margin: 10px;
    letter-spacing: -0.5px;
}
.navi-bar{
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
    background-color: rgb(245,245,245);
    border-top: solid 1px rgb(230,230,230);
}