.setting-list__{
    padding: 17px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    font-size: 17px;
    display:flex;
    justify-content: space-between;
}
.setting-list__version{
    border-style: none;
}

.setting-list__ i{
    color: var(--gray);
    margin-right: 10px;
}
.setting-list__info{
    color:var(--gray);
    font-weight: 300;
}
.setting-list__br{
    background-color: rgba(0,0,0,0.1);
    width:100%;
    height: 0.5px;
    margin: 15px 0px;
}