.badge{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: tomato;
    width:15px;
    height: 15px;
    color: white;
    font-size: 9px;
    font-weight: 500px;
}
.badge-read{
    font-size:12px;
    color: rgba(0,0,0,0.4);
}
.badge-big{
    width:18px;
    height: 18px;
}
.badge-icon{
    width: 5px;
    height: 5px;
    position: relative;
    left: 18px;
    bottom: 15px;
}
.badge-icon-big{
    position: absolute;
    width: 5px;
    height: 5px;
    right: -7px;
    top: -17px;
}