.nav{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(250,250,250);
    border-top: solid 1px rgb(238,238,238);
    padding: 15px 30px;
    box-sizing: border-box;
    z-index: 1;
}

.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__link{
    color: rgba(40,40,40);
    position: relative;
}

@keyframes notification {
    0%{
        transform:none;
    }
    50%{
        transform: translateY(-3px);
    }
    100%{
        transform:none;
    }
}
.nav__notification{
    position: absolute;
    left: 15px;
    top:-5px;
    animation: notification 1.5s infinite;
}
.nav__btn:last-child div{
    background-color: tomato;
    width:4px;
    height:4px;
    border-radius: 50%;
    position:absolute;
    right: -5px;
    top: 1px;
}
.nav__icon-friend,
.nav__icon-chats,
.nav__icon-find,
.nav__icon-more
{
    color: var(--yellow);
}

@keyframes navbtn {
    from{ opacity: 0%;
    }
    to{ opacity: 100%;
        transform: translateY(0px);
        
    }
}

.nav__btn {
    transform: translateY(50px);
    animation: navbtn 0.3s forwards;
    animation-delay: 0.1s;
}
.nav__btn:nth-child(2) {
    animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
    animation-delay: 0.3s;
}
.nav__btn:nth-child(4) {
    animation-delay: 0.4s;
}